#u2087-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2104-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2098-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2075-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2070-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2081-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2061-4,#u2540-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2046-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2026-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2019-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2038-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2033-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2347-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2532-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2110-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2111-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2112-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2114-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2115-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4556-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2541-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1882-4,#u1873-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1877-4,#u1874-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1878-4,#u1875-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3675-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1876-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1879-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1883-4,#u1884-4,#u2497-6
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1880-4,#u1881-5
{
	font-family: open-sans-n3, sans-serif;
}

#u1872-4,#u7223-4,#u1881
{
	font-family: open-sans-n4, sans-serif;
}

#u3558-4
{
	font-family: playball-n4, cursive;
}

#u5793,#u5793-4,#u5793-7,#u5793-9,#u5793-13,#u5793-14,#u5793-17,#u5793-20,#u5793-23,#u5512-2,#u5839,#u5839-4,#u5839-7,#u5839-9,#u5839-13,#u5839-14,#u5839-17,#u5839-20,#u5839-23,#u5519-2,#u5536,#u5536-4,#u5536-7,#u5536-9,#u5536-13,#u5536-14,#u5536-17,#u5536-20,#u5536-23,#u3614-2,#u5818,#u5818-4,#u5818-7,#u5818-9,#u5818-13,#u5818-14,#u5818-17,#u5818-20,#u5818-23,#u5497-2,#u5543,#u5543-4,#u5543-7,#u5543-9,#u5543-13,#u5543-14,#u5543-17,#u5543-20,#u5543-23,#u5527-2
{
	font-family: open-sans-n6, sans-serif;
}

#u5512-5,#u5512-7,#u5512-9,#u5519-5,#u5519-7,#u5519-9,#u3614-5,#u3614-7,#u3614-9,#u5497-5,#u5497-7,#u5497-9,#u5527-5,#u5527-7,#u5527-9
{
	font-family: open-sans-n4, sans-serif;
}

#u5790-4,#u6051-5,#u5837-4,#u6053-5,#u3644-4,#u6055-5,#u5810-4,#u6057-5,#u3531-4,#u6049-5
{
	font-family: cabin-n4, sans-serif;
}

#u3554-4,#u5744-4,#u6241-4,#u6243-4,#u6244-4,#u6247-4,#u5794-4,#u5834-4,#u3654-4,#u5816-4,#u3533-4,#u3618-2,#u5146-2
{
	font-family: bebas-neue-n4, sans-serif;
}

#u3559-4,#u5494-10,#u5793-3,#u5793-6,#u5793-11,#u5793-16,#u5793-19,#u5793-22,#u5793-25,#u5512-3,#u5839-3,#u5839-6,#u5839-11,#u5839-16,#u5839-19,#u5839-22,#u5839-25,#u5519-3,#u5536-3,#u5536-6,#u5536-11,#u5536-16,#u5536-19,#u5536-22,#u5536-25,#u3614-3,#u5818-3,#u5818-6,#u5818-11,#u5818-16,#u5818-19,#u5818-22,#u5818-25,#u5497-3,#u5543-3,#u5543-6,#u5543-11,#u5543-16,#u5543-19,#u5543-22,#u5543-25,#u5527-3,#u3618-4,#u5146-4
{
	font-family: open-sans-n3, sans-serif;
}

