#u354-4,#u365-4
{
	font-family: quicksand-n7, sans-serif;
}

#u643-4,#u2524-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u300-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u302-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u303-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u305-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2542-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u306-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2528-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u514-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u524-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u535-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u547-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2547-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u555-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u482-4,#u484-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u771-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u718-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u775-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u774-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u949-4,#u1045-5,#u1094-4,#u1118-4,#u1119-4,#u1120-6
{
	font-family: bebas-neue-n4, sans-serif;
}

#u485-5,#u1108-4,#u7201-4,#u1116
{
	font-family: open-sans-n4, sans-serif;
}

#u1117-4,#u1116-5,#u1115-4,#u3676-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3680-4,#u3677-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3681-4,#u3678-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3683-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3679-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3682-4
{
	font-family: open-sans-n3, sans-serif;
}

