#u2087-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2104-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2098-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2075-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2070-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2081-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2061-4,#u2540-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2046-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2026-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2019-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2038-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2033-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2347-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2532-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2110-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2111-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2112-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2114-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2115-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4556-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u2541-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1882-4,#u1873-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1877-4,#u1874-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1878-4,#u1875-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3675-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1876-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1879-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1883-4,#u1884-4,#u2497-6
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1880-4,#u1881-5
{
	font-family: open-sans-n3, sans-serif;
}

#u1872-4,#u7223-4,#u1881
{
	font-family: open-sans-n4, sans-serif;
}

#u4345-4
{
	font-family: playball-n4, cursive;
}

#u5742
{
	font-family: open-sans-n4, sans-serif;
}

#u4341-4,#u4350-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4351-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4352-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4353-2
{
	font-family: bebas-neue-n4, sans-serif;
}

#u4346-8,#u5742-5,#u4355-4,#u4353-4
{
	font-family: open-sans-n3, sans-serif;
}

